* {
  margin: 0;
  padding: 0;
  font-family: "微软雅黑";
  border: none;
}
select {
  margin: 0;
  padding: 0;
  appearance: none;
}
.main {
  width: 979px;
  height: 515px;
  margin: 100px auto;
}
.main .left {
  float: left;
  position: relative;
  width: 174px;
  height: 230px;
  margin: 128px 104px 156px 140px;
}
.main .left h1 {
  float: left;
  height: 93px;
  width: 100%;
  font-size: 22px;
  line-height: 40px;
  color: #b3b2b0;
  font-weight: normal;
  text-align: center;
}
.main .left a {
  float: left;
  width: 100%;
}
.main .left a img {
  display: block;
  margin: 0 auto;
  position: absolute;
  bottom: 0;
  left: 20px;
}
.main .right {
  float: left;
  width: 351px;
  height: 395px;
  margin-top: 66px;
  font-size: 15px;
  color: #5f5f5f;
}
.main .right >span {
  display: block;
  height: 15px;
  margin-bottom: 18px;
}
.main .right form {
  display: block;
  width: 347px;
}
.main .right form >span {
  float: left;
  text-align: justify;
  text-align-last: justify;
  width: 70px;
  height: 15px;
  margin-top: 7px;
  margin-bottom: 22px;
  margin-right: 15px;
}
.main .right form input {
  float: right;
  width: 260px;
  height: 28px;
  border: 1px solid #dcdcdc;
  margin-bottom: 15px;
  text-indent: 10px;
}
.main .right form .city {
  float: right;
  width: 262px;
  height: 30px;
  margin-bottom: 15px;
}
.main .right form .city select {
  float: left;
  width: 131px;
  height: 28px;
  border: 1px solid #dcdcdc;
}
.main .right form select.fact {
  width: 262px;
  height: 30px;
  border: 1px solid #dcdcdc;
  margin-bottom: 15px;
  float: right;
}
.main .right form input[type="button"] {
  float: right;
  width: 262px;
  height: 30px;
  background-color: #34c1b9;
  border: none;
  margin-bottom: 15px;
  text-indent: 10px;
  color: #fff;
}
