*
	margin 0
	padding 0
	font-family "微软雅黑"
	border none
select
	margin 0
	padding 0
	appearance none
.main
	width 979px
	height 515px
	margin 100px auto
	.left
		float left
		position relative
		width 174px
		height 230px
		margin 128px 104px 156px 140px
		h1
			float left
			height 93px
			width 100%
			font-size 22px
			line-height 40px
			color rgb(179,178,176)
			font-weight normal
			text-align center
		a
			float left
			width 100%
			img
				display block
				margin 0 auto
				position absolute
				bottom 0
				left 20px
	.right
		float left
		width 351px
		height 395px
		margin-top 66px
		font-size 15px
		color rgb(95,95,95)
		>span
			display block
			height 15px
			margin-bottom 18px
		form
			display block
			width 347px
			>span
				float left
				text-align justify
				text-align-last justify
				width 70px
				height 15px
				margin-top 7px
				margin-bottom 22px
				margin-right 15px
			input
				float right
				width 260px
				height 28px
				border 1px solid rgb(220,220,220)
				margin-bottom 15px
				text-indent 10px
			.city
				float right
				width 262px
				height 30px
				margin-bottom 15px
				select
					float left
					width 131px
					height 28px
					border 1px solid rgb(220,220,220)
			select.fact
				width 262px
				height 30px
				border 1px solid rgb(220,220,220)
				margin-bottom 15px
				float right
			input[type="button"]
				float right
				width 262px
				height 30px
				background-color rgb(52,193,185)
				border none
				margin-bottom 15px
				text-indent 10px
				color white
			